{% extends "base.html" %}
{% block content %}
  <!--body content-->
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="header-text caption">
              <h2>종목/기업 주가 검색</h2>
              <div id="search-section">
              	<form id="suggestion_form" name="gs" method="get" action="#">
                <div class="searchText">
                  <input type="text" name="q" class="searchText" placeholder="Enter your domain here..." autocomplete="on">
                  <ul></ul>
                </div>
                    <input type="submit" name="results" class="main-button" value="Search Now">
                 </form>
               <div class="advSearch_chkbox">
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->


    <!-- Testimonials Starts Here -->
    <div class="testimonials-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>Stock Advice</span>
              <h2>What they say about us</h2>
            </div>
          </div>
          <div class="col-md-10 offset-md-1">
            <div class="owl-testimonials owl-carousel">
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"If investing is entertaining, you’re probably not making any money. Good investing is boring."</p>
                <span>"투자하는 것이 즐거움을 준다면, 당신은 아마 돈을 벌고 있는 게 아닐 겁니다. 좋은 투자는 지루합니다."</span>
                <p></p>
                <h4>조지 소로스</h4>

              </div>
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"The four most dangerous words in investing are: “This time it’s different”."</p>
                <span>"투자에 가장 위험한 네 가지 단어들은: “이번엔 다를 거야.”입니다."</span>
                <p></p>
                <h4>존 템플턴 경</h4>

              </div>
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"Be fearful when others are greedy. Be greedy when others are fearful."</p>
                <span>"다른 사람들이 욕심을 낼 때 두려워하라. 다른 사람들이 두려워할 때 욕심을 내라."</span>
                <p></p>
                <h4>워런 버핏</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonials Ends Here -->
{% endblock %}