{% extends "base2.html" %}
{% block content %}
{% load static %}
<!-- predictDay1 : 내일, 3일, 5일 예상주가 문구
         predictDay2 : 예상주가
         predictDay3 : 현재주가
         predictDay4 : 예상수익률
         predictDay : 현재주가(10월 22일)로 이름 수정(알테오젠 관련)
    -->
<script type="text/javascript">
    var stock;

    function selectEnter(s){
        if(s=='HMM'){
            document.getElementById("candle-chart").src="{% static 'img/hmm-chart.png' %}"
            document.getElementById("predictDay1").innerText = "내일 예상주가(11.01)";
            document.getElementById("predictDay2").innerText = "$26,650";
            document.getElementById("predictDay3").innerText = "$26,650";
            document.getElementById("predictDay4").innerText = "0%";
            stock = s;
        }
        if(s=='알테오젠'){
            document.getElementById("candle-chart").src="{% static 'img/ALteogen-chart.png' %}"
            document.getElementById("predictDay1").innerText = "내일 예상주가(10.25)";
            document.getElementById("predictDay2").innerText = "$72,800";
            document.getElementById("predictDay3").innerText = "$73,000";
            document.getElementById("predictDay4").innerText = "-0.27%";
            stock = s;
        }
        if(s=='씨젠'){
            document.getElementById("candle-chart").src="{% static 'img/Seegene-chart.png' %}"
            document.getElementById("predictDay1").innerText = "내일 예상주가(11.01)";
            document.getElementById("predictDay2").innerText = "$54,350";
            document.getElementById("predictDay3").innerText = "$53,200";
            document.getElementById("predictDay4").innerText = "2.16%";
            stock = s;
        }
    }

    function stockPrice(d){
        if(stock=='HMM'){
            if(d=='day1'){
              document.getElementById("predictDay1").innerText = "내일 예상주가(11.01)";
              document.getElementById("predictDay2").innerText = "$26,650";
              document.getElementById("predictDay4").innerText = "0%";
            }
            if(d=='day3'){
              document.getElementById("predictDay1").innerText = "3일뒤의 예상주가(11.03)";
              document.getElementById("predictDay2").innerText = "$26,700";
              document.getElementById("predictDay4").innerText = "0.19%";
            }
            if(d=='day5'){
              document.getElementById("predictDay1").innerText = "5일뒤의 예상주가(11.05)";
              document.getElementById("predictDay2").innerText = "$26,850";
              document.getElementById("predictDay4").innerText = "0.75%";
            }
        }
        else if(stock=='알테오젠'){
            if(d=='day1'){
              document.getElementById("predictDay1").innerText = "내일 예상주가(10.25)";
              document.getElementById("predictDay2").innerText = "$72,800";
              document.getElementById("predictDay4").innerText = "-0.27%";
            }
            if(d=='day3'){
              document.getElementById("predictDay1").innerText = "3일뒤의 예상주가(10.27)";
              document.getElementById("predictDay2").innerText = "$72,350";
              document.getElementById("predictDay4").innerText = "-0.89%";
            }
            if(d=='day5'){
              document.getElementById("predictDay1").innerText = "5일뒤의 예상주가(10.29)";
              document.getElementById("predictDay2").innerText = "$71,850";
              document.getElementById("predictDay4").innerText = "-1.58%";
            }
        }
        else if(stock=='씨젠'){
            if(d=='day1'){
              document.getElementById("predictDay1").innerText = "내일 예상주가(11.01)";
              document.getElementById("predictDay2").innerText = "$54,350";
              document.getElementById("predictDay4").innerText = "2.16%";
            }
            if(d=='day3'){
              document.getElementById("predictDay1").innerText = "3일뒤의 예상주가(11.03)";
              document.getElementById("predictDay2").innerText = "$54,400";
              document.getElementById("predictDay4").innerText = "2.26%";
            }
            if(d=='day5'){
              document.getElementById("predictDay1").innerText = "5일뒤의 예상주가(11.05)";
              document.getElementById("predictDay2").innerText = "$54,500";
              document.getElementById("predictDay4").innerText = "2.44%";
            }
        }
    }

</script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">매수</h1>
    <!-- Content Row -->
    <div class="row">
        <!-- Chart 영역 -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">주가 차트</h6>
                <div class="selectBox">
                    <select name="enterprise" class="select" onchange="selectEnter(this.value)">
                        <option>기업선택</option>
                        <option value="HMM">HMM</option>
                        <option value="알테오젠">알테오젠</option>
                        <option value="씨젠">씨젠</option>
                    </select>
                    <span class="icoArrow">
                            <img src="{% static 'img/arrow.png' %}">
                        </span>
                </div>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img id="candle-chart" src="{% static 'img/standby-screen.png' %}" style="max-width:100%; height:auto;">
                </div>
            </div>

            <!-- 현재주가, 예상주가, 예상수익률 -->
            <div style="display:line-block;">
                <!--1일, 3일, 5일 버튼-->
                <div class="chart_button mb-3" style="position:relative;left:10px;">
                    <ul>
                        <li class="day">
                            <a href='javascript:void(0);' class="btn-gradient green mini" onclick="stockPrice('day1')">1일</a>
                        </li>
                        <li class="week">
                            <a href='javascript:void(0);' class="btn-gradient cyan mini" onclick="stockPrice('day3')">3일</a>
                        </li>
                        <li class="month3">
                            <a href='javascript:void(0);' class="btn-gradient blue mini" onclick="stockPrice('day5')">5일</a>
                        </li>
                    </ul>
                </div>
                <!-- 예상주가-->
                <div class="col-xl-3 col-md-6 mb-4" style="float:left;">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                         id="predictDay1"
                                         style="font-size:1em;">
                                        내일 예상 주가(11.01)
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="predictDay2"></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 현재주가-->
                <div class="col-xl-3 col-md-6 mb-4" style="float:left;">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                         style="font-size:1em;" id="predictDay">
                                        현재주가(10월 29일 기준)
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="predictDay3"></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 예상수익률-->
                <div class="col-xl-3 col-md-6 mb-4" style="float:left;">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                         style="font-size:1em;">
                                        예상 수익률(%)
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="predictDay4"></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>

<!-- End of Main Content -->
{% endblock %}
