{% extends "base2.html" %}
{% block content %}
{% load static %}
<script type="text/javascript">
    function selectEnter(s){
        if(s=='HMM'){
            document.getElementById("candle-chart").src="{% static 'img/undraw_profile_1.svg' %}"
        }
        if(s=='알테오젠'){
            document.getElementById("candle-chart").src="{% static 'img/alteogen-chart.png' %}"
        }
        if(s=='씨젠'){
            document.getElementById("candle-chart").src="{% static 'img/undraw_profile_3.svg' %}"
        }
    }


</script>
<script>
    function stockPrice(s){
        if(s=='day1'){
          document.getElementById("predictDay1").innerText = "내일 예상주가";
          document.getElementById("predictDay2").innerText = "$215,000";
          document.getElementById("predictDay3").innerText = "3%";
        }
        if(s=='day3'){
          document.getElementById("predictDay1").innerText = "3일뒤의 예상주가";
          document.getElementById("predictDay2").innerText = "$230,000";
          document.getElementById("predictDay3").innerText = "5%";
        }
        if(s=='day5'){
          document.getElementById("predictDay1").innerText = "5일뒤의 예상주가";
          document.getElementById("predictDay2").innerText = "$240,000";
          document.getElementById("predictDay3").innerText = "8%";
        }
    }

</script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">매도</h1>

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <!-- 종목 선택 -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">주가 차트</h6>
                    <div class="selectBox">
                        <select name="enterprise" class="select" onchange="selectEnter(this.value)">
                            <option>기업선택</option>
                            <option value="HMM">HMM</option>
                            <option value="알테오젠">알테오젠</option>
                            <option value="씨젠">씨젠</option>
                        </select>
                        <span class="icoArrow">
                            <img src="{% static 'img/arrow.png' %}">
                        </span>
                    </div>
                </div>
                <!-- 선정한 기업의 차트 영역-->
                <div class="card-body">
                    <div id="graph-chart" class="chart-area">
                        <div id="graph" style="width:50vw;height:350px;">
                            <img id="candle-chart" src="" style="max-width:100%; height:330px;">
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                 style="font-size:1em;">
                                현재 주가
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>

                    </div>
                    <hr>
                    <div class="chart_button mb-3">
                        <ul>
                            <li class="day">
                                <a href="#" class="btn-gradient green mini" onclick="stockPrice('day1')">1일</a>
                            </li>
                            <li class="week">
                                <a href="#" class="btn-gradient cyan mini" onclick="stockPrice('day3')">3일</a>
                            </li>
                            <li class="month3">
                                <a href="#" class="btn-gradient blue mini" onclick="stockPrice('day5')">5일</a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-2" id="predictDay1"
                         style="font-size:1em;">
                        내일 예상주가
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="predictDay2">$215,000</div>
                    <hr>
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-2"
                         style="font-size:1em;">
                        예상 수익률(%)
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="predictDay3">3%</div>
                    <hr>
                </div>
            </div>
        </div>


    </div>


</div>
<!-- /.container-fluid -->

</div>

<!-- End of Main Content -->
{% endblock %}
