{% extends "base2.html" %}
{% block content %}
{% load static %}
<!-- 1일, 1주일, 3개월, 1년 기준 차트-->
<script>
    function showChart(s){
        if(s=='day'){
            document.getElementById("chart").src="https://ssl.pstatic.net/imgfinance/chart/item/area/day/011200.png?sidcode=1635564497673"
        }
        else if(s=='week'){
            document.getElementById("chart").src="https://ssl.pstatic.net/imgfinance/chart/item/area/week/011200.png?sidcode=1635564497673"
        }
        else if(s=='month3'){
            document.getElementById("chart").src="https://ssl.pstatic.net/imgfinance/chart/item/area/month3/011200.png?sidcode=1635564497673"
        }
        else if(s=='year'){
            document.getElementById("chart").src="https://ssl.pstatic.net/imgfinance/chart/item/area/year/011200.png?sidcode=1635564497673"
        }
    }



</script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">HMM</h1>
        <a target="_blank" href="https://dart.fss.or.kr/dsaf001/main.do?rcpNo=20210813000776" onclick="window.open(this.href, '', 'width=800');
                           return false;" class="d-none d-sm-inline-block btn2 btn-sm btn2-primary shadow-sm">
            <i class="fas fa-sm text-white-50"></i>기업 정보</a>
    </div>

    <!-- Content Row1 -->
    <div class="row">
        <!-- Chart 영역 -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">주가 차트</h6>
                    <div class="chart_button">
                        <ul>
                            <li class="day">
                                <a href="#" class="btn-gradient green mini" onclick="showChart('day')">1일</a>
                            </li>
                            <li class="week">
                                <a href="#" class="btn-gradient cyan mini" onclick="showChart('week')">1주일</a>
                            </li>
                            <li class="month3">
                                <a href="#" class="btn-gradient blue mini" onclick="showChart('month3')">3개월</a>
                            </li>
                            <li class="year">
                                <a href="#" class="btn-gradient purple mini" onclick="showChart('year')">1년</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <img id="chart"
                             src="https://ssl.pstatic.net/imgfinance/chart/item/area/day/011200.png?sidcode=1635564497673"
                             style="max-width:100%; height:auto;" alt="이미지 차트">
                    </div>
                </div>
            </div>
        </div>

        <!-- 의견 -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- 의견 Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">이번주 의견! <sup>*참고*</sup></h6>
                </div>
                <!-- 의견 Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="hmmChart"></canvas>
                        <span style="position:relative;left:100px;bottom:150px;font-size:2.5em;color:blue;">Good!</span>
                    </div>
                    <div class="mt-4 text-center small">
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-primary"></i> 긍정
                                            </span>
                        <span class="mr-2">
                                                <i class="fas fa-circle text-success"></i> 부정
                                            </span>
                    <hr>
                    <p> 11월 3일까지 주가가 떨어질것으로 예상되나 이후로 11월5일자까지 오를것으로 예상됩니다. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row2 -->
    <div class="row">
        <!-- Chart2 영역 -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">주가 예측</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img id="chart2" src="{% static 'img/HMM_future5day.png' %}" style="max-width: 100%; height:auto;">
                </div>
                <hr>
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                       aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            style="width: 57px;">일(day)
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            style="width: 57px;">11월 1일
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            style="width: 57px;">11월 2일
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            style="width: 57px;">11월 3일
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            style="width: 57px;">11월 4일
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                            style="width: 57px;">11월 5일
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="color:orange;font-weight:bold">예측가</td>
                        <td>26710</td>
                        <td>26660</td>
                        <td>26650</td>
                        <td>26720</td>
                        <td>26850</td>
                    </tr>
                    <tr>
                        <td style="color:red;font-weight:bold">예측상한가</td>
                        <td>28340</td>
                        <td>29000</td>
                        <td>29550</td>
                        <td>30090</td>
                        <td>30610</td>
                    </tr>
                    <tr>
                        <td style="color:green;font-weight:bold">예측하한가</td>
                        <td>25090</td>
                        <td>24320</td>
                        <td>23750</td>
                        <td>23350</td>
                        <td>23090</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Content Row3 -->
    <div class="row">
        <!-- News 영역-->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">종목 뉴스</h6>
            </div>
            <div class="card-body">
                <iframe name="news" id="news_frame" title="뉴스 리스트영역"
                        src="https://finance.naver.com/item/news_news.nhn?code=011200&page=1"
                        width="100%" height="700" marginheight="0" bottommargin="0" topmargin="0" scrolling="no"
                        frameborder="0"></iframe>
            </div>
            &nbsp;&nbsp;<p style="color:#808080;">네이버(주)가 제공하는 금융 정보는 각 콘텐츠 제공업체제공업체 상세설명로부터 받는 투자 참고사항이며, 오류가 발생하거나 지연될
            수 있습니다.
            네이버(주)와 콘텐츠 제공업체는 제공된 정보에 의한 투자 결과에 법적인 책임을 지지 않습니다. 게시된 정보는 무단으로 배포할 수 없습니다.</p>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}
