{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
   function inputcheck(f) {
	   if(f.id.value == '') {
		   alert("아이디를 입력하세요");
		   f.id.focus();
		   return false;
	   }
	   if(f.id.value.length < 4) {
		   alert("아이디는 4자리 이상 입력하세요");
		   f.id.focus();
		   return false;
	   }
	   if(f.pass.value == '') {
		   alert("비밀번호를 입력하세요");
		   f.pass.focus();
		   return false;
	   }
	   return true;
   }
</script>
{{errormsg}}
<form action="../login/" method="post" name="f" onsubmit="return inputcheck(this)">
{%  csrf_token  %}
<table class="w3-bordered"><caption>로그인</caption>
<tr><th>아이디</th><td><input type="text" name="id"></td></tr>
<tr><th>비밀번호</th><td><input type="password" name="pass"></td></tr>
<tr><td colspan="2">
  <input type="submit" value="로그인">
  <input type="button" value="회원가입"   onclick="location.href='../join'">
</td></tr></table></form>
{% endblock content %}